
<div id="content">

    <div class="well" style="padding:0px 30px 10px 30px; background-color:white;">
        <div class="row wrapper">
            <h1> Resultados de  <span class="semi-bold">búsqueda para </span> "<span id="key_search"></span>"</h1>
            <p>Recursos encontrados: <span id="key_search_count"></span></p>
        </div>
    </div>

    <div class="cuerpoResultadoExito hidden" id="cuerpoHtml"></div>

    <div class="cuerpoResultadoError hidden">
        <div style="width:100%; height:100%; display:flex; flex-flow: row wrap">

            <section style="width:50%; text-align:center; padding:10px; display:flex; flex-flow: column nowrap; justify-content:center">

                <h1 style="font-weight:bold;">¡Ocurrió un error!</h1>
                <p style="font-size:17px;">Vuelva a intentarlo. Si el error persiste, contacte al administrador del sistema.</p>

            </section>

            <section style="width:40%;">

                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 685.112 512">
                    <g id="Grupo_6" data-name="Grupo 6" transform="translate(-609 -311)">
                        <g id="ingeniero" transform="translate(608 311)">
                            <path id="Trazado_1" data-name="Trazado 1" d="M124.586,185.379v44.138c0,77.683,59.145,158.9,132.414,158.9s132.414-81.214,132.414-158.9V185.379Z" fill="#faba81" />
                            <path id="Trazado_2" data-name="Trazado 2" d="M292.31,26.483V17.655A17.707,17.707,0,0,0,274.655,0h-35.31A17.707,17.707,0,0,0,221.69,17.655v8.828C155.483,42.373,106.931,97.1,106.931,167.724v17.655H407.069V167.724c0-70.621-48.552-125.352-114.759-141.241" fill="#f4ba48" />
                            <g id="Grupo_1" data-name="Grupo 1">
                                <path id="Trazado_3" data-name="Trazado 3" d="M292.31,70.621c-5.3,0-8.828-3.531-8.828-8.828V35.31c0-5.3,3.531-8.828,8.828-8.828s8.828,3.531,8.828,8.828V61.793c0,5.3-3.531,8.828-8.828,8.828" fill="#b58024" />
                                <path id="Trazado_4" data-name="Trazado 4" d="M221.69,70.621c-5.3,0-8.828-3.531-8.828-8.828V35.31c0-5.3,3.531-8.828,8.828-8.828s8.828,3.531,8.828,8.828V61.793c0,5.3-3.532,8.828-8.828,8.828" fill="#b58024" />
                                <path id="Trazado_5" data-name="Trazado 5" d="M424.724,194.207H89.276c-5.3,0-8.828-3.531-8.828-8.828s3.531-8.828,8.828-8.828H424.724c5.3,0,8.828,3.531,8.828,8.828s-3.531,8.828-8.828,8.828" fill="#b58024" />
                            </g>
                            <g id="Grupo_2" data-name="Grupo 2">
                                <path id="Trazado_6" data-name="Trazado 6" d="M292.31,467.862H221.69L257,388.414Z" fill="#364875" />
                                <path id="Trazado_7" data-name="Trazado 7" d="M212.862,512l8.828-44.138h70.621L301.138,512Z" fill="#364875" />
                            </g>
                            <g id="Grupo_3" data-name="Grupo 3">
                                <path id="Trazado_8" data-name="Trazado 8" d="M162.545,336.331l-2.648-.883-8.828,35.31,70.621,97.1L257,388.414c-37.076,0-70.621-21.186-94.455-52.083" fill="#5869a0" />
                                <path id="Trazado_9" data-name="Trazado 9" d="M351.455,336.331c-23.834,30.9-57.379,52.083-94.455,52.083l35.31,79.448,70.621-97.1-8.828-35.31Z" fill="#5869a0" />
                            </g>
                            <g id="Grupo_4" data-name="Grupo 4">
                                <path id="Trazado_10" data-name="Trazado 10" d="M491.814,438.731c-48.552-25.6-95.338-45.021-137.71-50.317H349.69l-57.379,79.448L301.138,512H513V474.041a39.5,39.5,0,0,0-21.186-35.31" fill="#7383bf" />
                                <path id="Trazado_11" data-name="Trazado 11" d="M164.31,388.414H159.9c-42.372,5.3-89.159,24.717-137.71,50.317A39.5,39.5,0,0,0,1,474.041V512H212.862l8.828-44.138Z" fill="#7383bf" />
                            </g>
                            <g id="Grupo_5" data-name="Grupo 5">
                                <path id="Trazado_12" data-name="Trazado 12" d="M128.117,92.69l67.09,13.241L181.966,41.49a149.8,149.8,0,0,0-53.849,51.2" fill="#b58024" />
                                <path id="Trazado_13" data-name="Trazado 13" d="M385.883,92.69l-67.09,13.241L332.034,41.49a149.8,149.8,0,0,1,53.849,51.2" fill="#b58024" />
                            </g>
                        </g>
                        <g id="close" transform="translate(1121.064 311)">
                            <circle id="Elipse_1" data-name="Elipse 1" cx="86.524" cy="86.524" r="86.524" transform="translate(0 0)" fill="#e24c4b" />
                            <path id="Trazado_22" data-name="Trazado 22" d="M203.9,117.375A86.778,86.778,0,0,1,117.374,203.9c-27.579,0-51.914-12.438-67.6-32.446a85.366,85.366,0,0,0,54.077,18.927,86.778,86.778,0,0,0,86.524-86.524,85.366,85.366,0,0,0-18.927-54.077C191.46,65.461,203.9,89.8,203.9,117.375Z" transform="translate(-30.85 -30.851)" fill="#d1403f" />
                            <path id="Trazado_23" data-name="Trazado 23" d="M198.72,198.72a8.487,8.487,0,0,1-11.9,0l-27.579-27.579L131.665,198.72a8.412,8.412,0,1,1-11.9-11.9l27.579-27.579-27.579-27.579a8.412,8.412,0,0,1,11.9-11.9l27.579,27.579,27.579-27.579a8.412,8.412,0,1,1,11.9,11.9l-27.579,27.579,27.579,27.579A8.487,8.487,0,0,1,198.72,198.72Z" transform="translate(-72.72 -72.72)" fill="#fff" />
                        </g>
                    </g>
                </svg>


            </section>

        </div>
    </div>

    <div class="cuerpoResultadoVacio hidden">
        <div style="width:100%; height:100%; display:flex; flex-flow: row wrap">

            <section style="width:50%; padding:10px; display:flex; flex-flow: column nowrap; justify-content:center">

                <h1 style="font-weight: bold; text-align: center;">¡Atención!</h1>
                <p style="font-size: 17px; text-align: center;">Su búsqueda no obtuvo resultados. Recuerda que:</p>
                <p style="font-size:17px;">
                    <ul>
                        <li>Para buscar un ticket, basta con ingresar solo el número.</li>
                        <li>Para buscar un vehículo, basta con ingresar solo la placa o código.</li>
                        <li>Para cualquier otro parámetro, intenta utilizar palabras clave como nombres o códigos de identificación.</li>
                    </ul>
                </p>

            </section>

            <section style="width:40%;">

                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 702.587 512">
                    <g id="Grupo_6" data-name="Grupo 6" transform="translate(-609 -311)">
                        <g id="ingeniero" transform="translate(608 311)">
                            <path id="Trazado_1" data-name="Trazado 1" d="M124.586,185.379v44.138c0,77.683,59.145,158.9,132.414,158.9s132.414-81.214,132.414-158.9V185.379Z" fill="#faba81" />
                            <path id="Trazado_2" data-name="Trazado 2" d="M292.31,26.483V17.655A17.707,17.707,0,0,0,274.655,0h-35.31A17.707,17.707,0,0,0,221.69,17.655v8.828C155.483,42.373,106.931,97.1,106.931,167.724v17.655H407.069V167.724c0-70.621-48.552-125.352-114.759-141.241" fill="#f4ba48" />
                            <g id="Grupo_1" data-name="Grupo 1">
                                <path id="Trazado_3" data-name="Trazado 3" d="M292.31,70.621c-5.3,0-8.828-3.531-8.828-8.828V35.31c0-5.3,3.531-8.828,8.828-8.828s8.828,3.531,8.828,8.828V61.793c0,5.3-3.531,8.828-8.828,8.828" fill="#b58024" />
                                <path id="Trazado_4" data-name="Trazado 4" d="M221.69,70.621c-5.3,0-8.828-3.531-8.828-8.828V35.31c0-5.3,3.531-8.828,8.828-8.828s8.828,3.531,8.828,8.828V61.793c0,5.3-3.532,8.828-8.828,8.828" fill="#b58024" />
                                <path id="Trazado_5" data-name="Trazado 5" d="M424.724,194.207H89.276c-5.3,0-8.828-3.531-8.828-8.828s3.531-8.828,8.828-8.828H424.724c5.3,0,8.828,3.531,8.828,8.828s-3.531,8.828-8.828,8.828" fill="#b58024" />
                            </g>
                            <g id="Grupo_2" data-name="Grupo 2">
                                <path id="Trazado_6" data-name="Trazado 6" d="M292.31,467.862H221.69L257,388.414Z" fill="#364875" />
                                <path id="Trazado_7" data-name="Trazado 7" d="M212.862,512l8.828-44.138h70.621L301.138,512Z" fill="#364875" />
                            </g>
                            <g id="Grupo_3" data-name="Grupo 3">
                                <path id="Trazado_8" data-name="Trazado 8" d="M162.545,336.331l-2.648-.883-8.828,35.31,70.621,97.1L257,388.414c-37.076,0-70.621-21.186-94.455-52.083" fill="#5869a0" />
                                <path id="Trazado_9" data-name="Trazado 9" d="M351.455,336.331c-23.834,30.9-57.379,52.083-94.455,52.083l35.31,79.448,70.621-97.1-8.828-35.31Z" fill="#5869a0" />
                            </g>
                            <g id="Grupo_4" data-name="Grupo 4">
                                <path id="Trazado_10" data-name="Trazado 10" d="M491.814,438.731c-48.552-25.6-95.338-45.021-137.71-50.317H349.69l-57.379,79.448L301.138,512H513V474.041a39.5,39.5,0,0,0-21.186-35.31" fill="#7383bf" />
                                <path id="Trazado_11" data-name="Trazado 11" d="M164.31,388.414H159.9c-42.372,5.3-89.159,24.717-137.71,50.317A39.5,39.5,0,0,0,1,474.041V512H212.862l8.828-44.138Z" fill="#7383bf" />
                            </g>
                            <g id="Grupo_5" data-name="Grupo 5">
                                <path id="Trazado_12" data-name="Trazado 12" d="M128.117,92.69l67.09,13.241L181.966,41.49a149.8,149.8,0,0,0-53.849,51.2" fill="#b58024" />
                                <path id="Trazado_13" data-name="Trazado 13" d="M385.883,92.69l-67.09,13.241L332.034,41.49a149.8,149.8,0,0,1,53.849,51.2" fill="#b58024" />
                            </g>
                        </g>
                        <g id="error" transform="translate(1120.735 287.054)">
                            <path id="Trazado_14" data-name="Trazado 14" d="M242.181,38.37l66.626,115.4a28.8,28.8,0,0,1-24.952,43.176H217.229l-23.04-86.5,23.04-86.5A28.782,28.782,0,0,1,242.181,38.37Z" transform="translate(-121.804)" fill="#3b4145" />
                            <path id="Trazado_15" data-name="Trazado 15" d="M70.474,38.37,3.848,153.77A28.8,28.8,0,0,0,28.8,196.946H95.426v-173A28.782,28.782,0,0,0,70.474,38.37Z" fill="#525a61" />
                            <path id="Trazado_16" data-name="Trazado 16" d="M338.435,178.932,271.81,63.533a17.339,17.339,0,0,0-14.481-8.655l56.983,149.951h9.147a17.277,17.277,0,0,0,14.976-25.9Z" transform="translate(-161.408 -19.402)" fill="#ffb751" />
                            <path id="Trazado_17" data-name="Trazado 17" d="M185.208,178.912a19.4,19.4,0,0,1,1.989,8.617c0,9.527-6.685,17.28-14.907,17.28H48.186a17.277,17.277,0,0,1-14.976-25.9l66.625-115.4a17.354,17.354,0,0,1,14.976-8.667q.248,0,.5.012c5.119.2,9.846,3.475,12.423,8.655Z" transform="translate(-19.386 -19.382)" fill="#ffd764" />
                            <path id="Trazado_18" data-name="Trazado 18" d="M256,354.131v19.2a9.6,9.6,0,1,0,0-19.2Z" transform="translate(-160.574 -207.106)" fill="#3b4145" />
                            <path id="Trazado_19" data-name="Trazado 19" d="M239.845,354.131c1.06,0,1.92,4.3,1.92,9.6s-.86,9.6-1.92,9.6a9.6,9.6,0,0,1,0-19.2Z" transform="translate(-144.419 -207.106)" fill="#525a61" />
                            <path id="Trazado_20" data-name="Trazado 20" d="M256,132.646v71.042a9.6,9.6,0,0,0,9.6-9.6V142.246A9.6,9.6,0,0,0,256,132.646Z" transform="translate(-160.574 -68.181)" fill="#3b4145" />
                            <path id="Trazado_21" data-name="Trazado 21" d="M239.845,132.646c1.06,0,1.92,4.3,1.92,9.6v51.841c0,5.3-.86,9.6-1.92,9.6a9.6,9.6,0,0,1-9.6-9.6V142.246A9.6,9.6,0,0,1,239.845,132.646Z" transform="translate(-144.419 -68.181)" fill="#525a61" />
                        </g>
                    </g>
                </svg>



            </section>

        </div>
    </div>

    <div class="cuerpoResultadoLimiteSuperado hidden">
        <div style="width:100%; height:100%; display:flex; flex-flow: row wrap">

            <section style="width:50%; padding:10px; display:flex; flex-flow: column nowrap; justify-content:center">

                <h1 style="font-weight: bold; text-align: center;">¡Atención!</h1>
                <p style="font-size: 17px; text-align: center;">Su búsqueda ha superado el límite permitido de información a mostrar. Intenta ingresar datos más precisos para acotar la búsqueda.</p>
                
            </section>

            <section style="width:40%;">

                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 702.587 512">
                    <g id="Grupo_6" data-name="Grupo 6" transform="translate(-609 -311)">
                        <g id="ingeniero" transform="translate(608 311)">
                            <path id="Trazado_1" data-name="Trazado 1" d="M124.586,185.379v44.138c0,77.683,59.145,158.9,132.414,158.9s132.414-81.214,132.414-158.9V185.379Z" fill="#faba81" />
                            <path id="Trazado_2" data-name="Trazado 2" d="M292.31,26.483V17.655A17.707,17.707,0,0,0,274.655,0h-35.31A17.707,17.707,0,0,0,221.69,17.655v8.828C155.483,42.373,106.931,97.1,106.931,167.724v17.655H407.069V167.724c0-70.621-48.552-125.352-114.759-141.241" fill="#f4ba48" />
                            <g id="Grupo_1" data-name="Grupo 1">
                                <path id="Trazado_3" data-name="Trazado 3" d="M292.31,70.621c-5.3,0-8.828-3.531-8.828-8.828V35.31c0-5.3,3.531-8.828,8.828-8.828s8.828,3.531,8.828,8.828V61.793c0,5.3-3.531,8.828-8.828,8.828" fill="#b58024" />
                                <path id="Trazado_4" data-name="Trazado 4" d="M221.69,70.621c-5.3,0-8.828-3.531-8.828-8.828V35.31c0-5.3,3.531-8.828,8.828-8.828s8.828,3.531,8.828,8.828V61.793c0,5.3-3.532,8.828-8.828,8.828" fill="#b58024" />
                                <path id="Trazado_5" data-name="Trazado 5" d="M424.724,194.207H89.276c-5.3,0-8.828-3.531-8.828-8.828s3.531-8.828,8.828-8.828H424.724c5.3,0,8.828,3.531,8.828,8.828s-3.531,8.828-8.828,8.828" fill="#b58024" />
                            </g>
                            <g id="Grupo_2" data-name="Grupo 2">
                                <path id="Trazado_6" data-name="Trazado 6" d="M292.31,467.862H221.69L257,388.414Z" fill="#364875" />
                                <path id="Trazado_7" data-name="Trazado 7" d="M212.862,512l8.828-44.138h70.621L301.138,512Z" fill="#364875" />
                            </g>
                            <g id="Grupo_3" data-name="Grupo 3">
                                <path id="Trazado_8" data-name="Trazado 8" d="M162.545,336.331l-2.648-.883-8.828,35.31,70.621,97.1L257,388.414c-37.076,0-70.621-21.186-94.455-52.083" fill="#5869a0" />
                                <path id="Trazado_9" data-name="Trazado 9" d="M351.455,336.331c-23.834,30.9-57.379,52.083-94.455,52.083l35.31,79.448,70.621-97.1-8.828-35.31Z" fill="#5869a0" />
                            </g>
                            <g id="Grupo_4" data-name="Grupo 4">
                                <path id="Trazado_10" data-name="Trazado 10" d="M491.814,438.731c-48.552-25.6-95.338-45.021-137.71-50.317H349.69l-57.379,79.448L301.138,512H513V474.041a39.5,39.5,0,0,0-21.186-35.31" fill="#7383bf" />
                                <path id="Trazado_11" data-name="Trazado 11" d="M164.31,388.414H159.9c-42.372,5.3-89.159,24.717-137.71,50.317A39.5,39.5,0,0,0,1,474.041V512H212.862l8.828-44.138Z" fill="#7383bf" />
                            </g>
                            <g id="Grupo_5" data-name="Grupo 5">
                                <path id="Trazado_12" data-name="Trazado 12" d="M128.117,92.69l67.09,13.241L181.966,41.49a149.8,149.8,0,0,0-53.849,51.2" fill="#b58024" />
                                <path id="Trazado_13" data-name="Trazado 13" d="M385.883,92.69l-67.09,13.241L332.034,41.49a149.8,149.8,0,0,1,53.849,51.2" fill="#b58024" />
                            </g>
                        </g>
                        <g id="error" transform="translate(1120.735 287.054)">
                            <path id="Trazado_14" data-name="Trazado 14" d="M242.181,38.37l66.626,115.4a28.8,28.8,0,0,1-24.952,43.176H217.229l-23.04-86.5,23.04-86.5A28.782,28.782,0,0,1,242.181,38.37Z" transform="translate(-121.804)" fill="#3b4145" />
                            <path id="Trazado_15" data-name="Trazado 15" d="M70.474,38.37,3.848,153.77A28.8,28.8,0,0,0,28.8,196.946H95.426v-173A28.782,28.782,0,0,0,70.474,38.37Z" fill="#525a61" />
                            <path id="Trazado_16" data-name="Trazado 16" d="M338.435,178.932,271.81,63.533a17.339,17.339,0,0,0-14.481-8.655l56.983,149.951h9.147a17.277,17.277,0,0,0,14.976-25.9Z" transform="translate(-161.408 -19.402)" fill="#ffb751" />
                            <path id="Trazado_17" data-name="Trazado 17" d="M185.208,178.912a19.4,19.4,0,0,1,1.989,8.617c0,9.527-6.685,17.28-14.907,17.28H48.186a17.277,17.277,0,0,1-14.976-25.9l66.625-115.4a17.354,17.354,0,0,1,14.976-8.667q.248,0,.5.012c5.119.2,9.846,3.475,12.423,8.655Z" transform="translate(-19.386 -19.382)" fill="#ffd764" />
                            <path id="Trazado_18" data-name="Trazado 18" d="M256,354.131v19.2a9.6,9.6,0,1,0,0-19.2Z" transform="translate(-160.574 -207.106)" fill="#3b4145" />
                            <path id="Trazado_19" data-name="Trazado 19" d="M239.845,354.131c1.06,0,1.92,4.3,1.92,9.6s-.86,9.6-1.92,9.6a9.6,9.6,0,0,1,0-19.2Z" transform="translate(-144.419 -207.106)" fill="#525a61" />
                            <path id="Trazado_20" data-name="Trazado 20" d="M256,132.646v71.042a9.6,9.6,0,0,0,9.6-9.6V142.246A9.6,9.6,0,0,0,256,132.646Z" transform="translate(-160.574 -68.181)" fill="#3b4145" />
                            <path id="Trazado_21" data-name="Trazado 21" d="M239.845,132.646c1.06,0,1.92,4.3,1.92,9.6v51.841c0,5.3-.86,9.6-1.92,9.6a9.6,9.6,0,0,1-9.6-9.6V142.246A9.6,9.6,0,0,1,239.845,132.646Z" transform="translate(-144.419 -68.181)" fill="#525a61" />
                        </g>
                    </g>
                </svg>
            </section>

        </div>

    </div>


</div>


<script type="text/javascript">

        //var datos = [];
        //datos.push({ Controller: 'ManagementDashboard', ViewController: 'VmanagementDashboard', VisualName: 'Dashboard', Description: 'Módulo Para realizar la gestión de Dashboard', Type: 'G', SearchValue: '' });
        //datos.push({ Controller: 'Station', ViewController: 'Vstation', VisualName: 'Estación', Description: 'Módulo Para realizar la gestión de Estación', Type: 'G', SearchValue: '' });
        //datos.push({ Controller: 'Company', ViewController: 'Vcompany', VisualName: 'Compañía', Description: 'Módulo Para realizar la gestión de Compañía', Type: 'G', SearchValue: '' });
        //datos.push({ Controller: 'Vehicle', ViewController: 'Vvehicle', VisualName: 'Vehículo', Description: 'Módulo Para realizar la gestión de Vehículo', Type: 'D', SearchValue: 'TEST' });

        //===============================================DECLARACIÓN DE VARIABLES

        var pageNumber = 1; //REPRESENTA AL CONTADOR DE PÁGINAS Y VA INCREMENTANDO O DISMINUYENDO DE 1 EN 1 CON LOS BOTONES SIGUIENTE Y ANTERIOR
        var pageSize = 5; // REPRESENTA AL AGRUPAMIENTO DE VALORES DE BÚSQUEDA EN UNA MISMA HOJA. POR EJEMPLO 5 REPRENTA QUE SE MOSTRARÁN MÁXIMO 5 RESULTADOS POR CADA HOJA.
        var pagination;
        var pageCont = 0;
        var arrayBusqueda = [];

        //===============================================ACCIONES PARA PAGINACIÓN
        function paginate(p_array, p_pageSize, p_pageNumber) {
            return p_array.slice((p_pageNumber - 1) * p_pageSize, p_pageNumber * p_pageSize);
        }
        function nextPage() {
            pageNumber++;
            showResult();
        }
        function previousPage(){
            pageNumber--;
            showResult();
        }
        function showResult() {
            var resultado = paginate(arrayBusqueda, pageSize, pageNumber);

            cuerpoHTML = "";

            for (i = 0; i < resultado.length; i++) {

                if (resultado[i].Type == 'G') {
                    cuerpoHTML = cuerpoHTML +

                                "<div class='search-results clearfix smart-form'>" +

                                "<h4><i class='fa fa-plus-square txt-color-blue'></i>&nbsp;<a style='cursor:pointer;' onclick='irAlEnlace(" + '"' + resultado[i].ViewController + '"' + "," + '"' + resultado[i].Controller + '"' + ")'>" + resultado[i].VisualName + "</a></h4>" +

                                "<div>" +
                                    "<br>" +

                                    //"<div class='url text-success'>" +
                                    //"<i class='fa fa-caret-down'></i>" +
                                    //"</div>" +

                                    "<p class='description'>" +
                                        resultado[i].Description +
                                "</p>" +
                       "</div>" +

                    "</div>" +
                        "<hr style='border:1px solid lightgray' />";
                } else { // DETALLE

                    if (resultado[i].ViewController == 'VManualTransaction' || resultado[i].ViewController == 'VManageManualTransaction' || resultado[i].ViewController == 'VfuelListGeneralCustom') {
                        //fechas y tickect
                        cuerpoHTML = cuerpoHTML +

                        "<div class='search-results clearfix smart-form'>" +

                            "<h4><i class='fa fa-plus-square txt-color-blue'></i>&nbsp;<a style='cursor:pointer;' onclick='irAlEnlaceDetalleFechaTicket(" + '"' + resultado[i].ViewController + '"' + "," + '"' + resultado[i].Controller + '"' + "," + '"' + resultado[i].SearchValue + '"' + "," + '"' + resultado[i].RegistrationStatus + '"' + "," + '"' + resultado[i].StartDate + '"' + "," + '"' + resultado[i].EndDate + '"' + ")'>" + resultado[i].VisualName + "</a></h4>" +

                            "<div>" +
                                "<br>" +
                                //"<div class='url text-success'>" +
                                //"<i class='fa fa-caret-down'></i>" +
                                //"</div>" +

                                "<p class='description'>" +
                                    resultado[i].Description +
                                "</p>" +
                            "</div>" +
                        "</div>" +
                        "<hr style='border:1px solid lightgray' />";

                    } else if (resultado[i].ViewController == 'VtransactionUpdate' || resultado[i].ViewController == 'VtransactionCorrection' || resultado[i].ViewController == 'vtransactionkmhrcorrection') {
                        //fechas y tickect Y producto
                        cuerpoHTML = cuerpoHTML +

                        "<div class='search-results clearfix smart-form'>" +

                            "<h4><i class='fa fa-plus-square txt-color-blue'></i>&nbsp;<a style='cursor:pointer;' onclick='irAlEnlaceDetalleFechaTicketProducto(" + '"' + resultado[i].ViewController + '"' + "," + '"' + resultado[i].Controller + '"' + "," + '"' + resultado[i].SearchValue + '"' + "," + '"' + resultado[i].RegistrationStatus + '"' + "," + '"' + resultado[i].StartDate + '"' + "," + '"' + resultado[i].EndDate + '"' + "," + '"' + resultado[i].IdProduct + '"' + ")'>" + resultado[i].VisualName + "</a></h4>" +

                            "<div>" +
                                "<br>" +
                                //"<div class='url text-success'>" +
                                //"<i class='fa fa-caret-down'></i>" +
                                //"</div>" +

                                "<p class='description'>" +
                                    resultado[i].Description +
                                "</p>" +
                            "</div>" +
                        "</div>" +
                        "<hr style='border:1px solid lightgray' />";
                    } else {
                        cuerpoHTML = cuerpoHTML +

                        "<div class='search-results clearfix smart-form'>" +

                            "<h4><i class='fa fa-plus-square txt-color-blue'></i>&nbsp;<a style='cursor:pointer;' onclick='irAlEnlaceDetalle(" + '"' + resultado[i].ViewController + '"' + "," + '"' + resultado[i].Controller + '"' + "," + '"' + resultado[i].SearchValue + '"' + "," + '"' + resultado[i].RegistrationStatus + '"' + ")'>" + resultado[i].VisualName + "</a></h4>" +

                            "<div>" +
                                "<br>" +
                                //"<div class='url text-success'>" +
                                //"<i class='fa fa-caret-down'></i>" +
                                //"</div>" +

                                "<p class='description'>" +
                                    resultado[i].Description +
                                "</p>" +
                            "</div>" +
                        "</div>" +
                        "<hr style='border:1px solid lightgray' />";
                    }


                }
            }
            cuerpoHTML += "<div class='row col col-xs-12' style='margin-bottom:70px;'>"
            cuerpoHTML += pageNumber > 1 ? "<button class='btn btn-success pull-left'  onclick='previousPage()' style='display:flex; align-items: center;'><i class='fa fa-2x fa-arrow-circle-o-left'></i> <a style='font-size:17px; text-decoration:none; color:white; margin-left:5px;'>Anterior</a></button>" : "";
            cuerpoHTML += pageNumber < pageCont ? "<button class='btn btn-success pull-right' onclick='nextPage()' style='display:flex; align-items: center;'><a style='font-size:17px; text-decoration:none; color:white;  margin-right:5px;'>Siguiente</a> <i class='fa fa-2x fa-arrow-circle-o-right'></i></button>" : "";
            cuerpoHTML += "</div>"
            $("#cuerpoHtml").html(cuerpoHTML);

        }
        //===============================================LISTADO RESULTADO DE BÚSQUEDA
        function ListaResultadoBusquedaInteligente() {

            arrayBusqueda = [];

        if ($.session.get("valorBusquedaInteligente") != null) {

            var valorRecibidoBusquedaInteligente = "";
            valorRecibidoBusquedaInteligente = $.session.get("valorBusquedaInteligente");
            $("#key_search").html(valorRecibidoBusquedaInteligente);
            

            $.session.remove("valorBusquedaInteligente");
        }

        cuerpoNotificacion = "";
        $("#lstnotificaciones").html("");

        $.ajax({
            type: "GET",
            url: tRutaServidor + "/Search/ListaResultadoBusquedaInteligente",
            contentType: "application/json; charset=utf-8",
            data: "valorBusqueda=" + valorRecibidoBusquedaInteligente,
            dataType: "json",
            /*async: false,*/
            success: function (resultado) {
                //resultado[0].ValorConsulta = "0";
                //resultado = [];
                /*exitosamente*/
                if (resultado.length > 0) {
                    /* proceso exitoso con datos*/
                    if (resultado[0].ValorConsulta == "1") {

                        $(".cuerpoResultadoExito").removeClass("hidden");
                        $(".cuerpoResultadoError").addClass("hidden");
                        $(".cuerpoResultadoVacio").addClass("hidden");
                        $(".cuerpoResultadoLimiteSuperado").addClass("hidden");
                        $("#key_search_count").html(resultado.length);

                         pageNumber = 1;
                         pageSize = 5;
                         pagination;
                         pageCont = Math.ceil(resultado.length / pageSize);
                         arrayBusqueda = resultado;
                         showResult();
                        //--
                        //cuerpoHTML = "";

                        //for (i = 0; i < resultado.length; i++) {

                        //    if (resultado[i].Type == 'G') {
                        //        cuerpoHTML = cuerpoHTML +

                        //                    "<div class='search-results clearfix smart-form'>" +

                        //                    "<h4><i class='fa fa-plus-square txt-color-blue'></i>&nbsp;<a style='cursor:pointer;' onclick='irAlEnlace(" + '"' + resultado[i].ViewController + '"' + "," + '"' + resultado[i].Controller + '"' + ")'>" + resultado[i].VisualName + "</a></h4>" +

                        //                    "<div>" +
                        //                        "<br>" +

                        //                        //"<div class='url text-success'>" +
                        //                        //"<i class='fa fa-caret-down'></i>" +
                        //                        //"</div>" +

                        //                        "<p class='description'>" +
                        //                            resultado[i].Description +
                        //                    "</p>" +
                        //           "</div>" +

                        //        "</div>" +
                        //            "<hr style='border:1px solid lightgray' />";
                        //    } else { // DETALLE

                        //        if (resultado[i].ViewController == 'VManualTransaction' || resultado[i].ViewController == 'VManageManualTransaction' || resultado[i].ViewController == 'VfuelListGeneralCustom') {
                        //            //fechas y tickect
                        //            cuerpoHTML = cuerpoHTML +

                        //            "<div class='search-results clearfix smart-form'>" +

                        //                "<h4><i class='fa fa-plus-square txt-color-blue'></i>&nbsp;<a style='cursor:pointer;' onclick='irAlEnlaceDetalleFechaTicket(" + '"' + resultado[i].ViewController + '"' + "," + '"' + resultado[i].Controller + '"' + "," + '"' + resultado[i].SearchValue + '"' + "," + '"' + resultado[i].RegistrationStatus + '"' + "," + '"' + resultado[i].StartDate + '"' + "," + '"' + resultado[i].EndDate + '"' + ")'>" + resultado[i].VisualName + "</a></h4>" +

                        //                "<div>" +
                        //                    "<br>" +
                        //                    //"<div class='url text-success'>" +
                        //                    //"<i class='fa fa-caret-down'></i>" +
                        //                    //"</div>" +

                        //                    "<p class='description'>" +
                        //                        resultado[i].Description +
                        //                    "</p>" +
                        //                "</div>" +
                        //            "</div>" +
                        //            "<hr style='border:1px solid lightgray' />";

                        //        } else if (resultado[i].ViewController == 'VtransactionUpdate' || resultado[i].ViewController == 'VtransactionCorrection' || resultado[i].ViewController == 'vtransactionkmhrcorrection') {
                        //            //fechas y tickect Y producto
                        //            cuerpoHTML = cuerpoHTML +

                        //            "<div class='search-results clearfix smart-form'>" +

                        //                "<h4><i class='fa fa-plus-square txt-color-blue'></i>&nbsp;<a style='cursor:pointer;' onclick='irAlEnlaceDetalleFechaTicketProducto(" + '"' + resultado[i].ViewController + '"' + "," + '"' + resultado[i].Controller + '"' + "," + '"' + resultado[i].SearchValue + '"' + "," + '"' + resultado[i].RegistrationStatus + '"' + "," + '"' + resultado[i].StartDate + '"' + "," + '"' + resultado[i].EndDate + '"' + "," + '"' + resultado[i].IdProduct + '"' + ")'>" + resultado[i].VisualName + "</a></h4>" +

                        //                "<div>" +
                        //                    "<br>" +
                        //                    //"<div class='url text-success'>" +
                        //                    //"<i class='fa fa-caret-down'></i>" +
                        //                    //"</div>" +

                        //                    "<p class='description'>" +
                        //                        resultado[i].Description +
                        //                    "</p>" +
                        //                "</div>" +
                        //            "</div>" +
                        //            "<hr style='border:1px solid lightgray' />";
                        //        } else {
                        //            cuerpoHTML = cuerpoHTML +

                        //            "<div class='search-results clearfix smart-form'>" +

                        //                "<h4><i class='fa fa-plus-square txt-color-blue'></i>&nbsp;<a style='cursor:pointer;' onclick='irAlEnlaceDetalle(" + '"' + resultado[i].ViewController + '"' + "," + '"' + resultado[i].Controller + '"' + "," + '"' + resultado[i].SearchValue + '"' + "," + '"' + resultado[i].RegistrationStatus + '"' + ")'>" + resultado[i].VisualName + "</a></h4>" +

                        //                "<div>" +
                        //                    "<br>" +
                        //                    //"<div class='url text-success'>" +
                        //                    //"<i class='fa fa-caret-down'></i>" +
                        //                    //"</div>" +

                        //                    "<p class='description'>" +
                        //                        resultado[i].Description +
                        //                    "</p>" +
                        //                "</div>" +
                        //            "</div>" +
                        //            "<hr style='border:1px solid lightgray' />";
                        //        }
                                

                        //    }

                        //}
                        //$("#cuerpoHtml").html(cuerpoHTML);
                        //--

                    } else if (resultado[0].ValorConsulta == "-1") {

                        $(".cuerpoResultadoExito").addClass("hidden");
                        $(".cuerpoResultadoError").addClass("hidden");
                        $(".cuerpoResultadoVacio").addClass("hidden");
                        $(".cuerpoResultadoLimiteSuperado").removeClass("hidden");
                        $("#key_search_count").html(0);


                    } else {
                        /* proceso fallido catch listado datos*/
                        $(".cuerpoResultadoExito").addClass("hidden");
                        $(".cuerpoResultadoError").removeClass("hidden");
                        $(".cuerpoResultadoVacio").addClass("hidden");
                        $(".cuerpoResultadoLimiteSuperado").addClass("hidden");
                        $("#key_search_count").html(0);
                        console.log(resultado);
                    }
                } else {
                    /*Retorno de Lista  vacia*/
                    $(".cuerpoResultadoExito").addClass("hidden");
                    $(".cuerpoResultadoError").addClass("hidden");
                    $(".cuerpoResultadoVacio").removeClass("hidden");
                    $(".cuerpoResultadoLimiteSuperado").addClass("hidden");
                    $("#key_search_count").html(0);

                    
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                /*fallo al llamar a la funcion ajax*/
                $(".cuerpoResultadoExito").addClass("hidden");
                $(".cuerpoResultadoError").removeClass("hidden");
                $(".cuerpoResultadoVacio").addClass("hidden");
                $(".cuerpoResultadoLimiteSuperado").addClass("hidden");
                $("#key_search_count").html(0);

                console.log("ERROR AJAX : " + ajaxOptions);
                console.log("ERROR AJAX : " + thrownError);
                console.log(xhr.responseText);
                console.log(xhr);
            }
        });
    };

        //===============================================ACCIONES DE ITEM DE BÚSQUEDA
        function irAlEnlace(ViewController, Controller) {

            var url = "/$$%%&&/!!??¿¿";
            var urlX = "";
            var urlY = "";
            urlX = url.replace("$$%%&&", Controller);
            urlY = urlX.replace("!!??¿¿", ViewController);

            window.location.href = urlY;
        }

        function irAlEnlaceDetalle(ViewController, Controller, SearchValue, RegistrationStatus) {

            var url = "/$$%%&&/!!??¿¿";
            var urlX = "";
            var urlY = "";
            urlX = url.replace("$$%%&&", Controller);
            urlY = urlX.replace("!!??¿¿", ViewController);

            $.session.set("vbi_SearchValue", SearchValue);
            $.session.set("vbi_RegistrationStatus", RegistrationStatus);

            window.location.href = urlY;
        }

        function irAlEnlaceDetalleFechaTicket(ViewController, Controller, SearchValue, RegistrationStatus, StartDate, EndDate) {

            var url = "/$$%%&&/!!??¿¿";
            var urlX = "";
            var urlY = "";
            urlX = url.replace("$$%%&&", Controller);
            urlY = urlX.replace("!!??¿¿", ViewController);

            $.session.set("vbi_SearchValue", SearchValue);
            $.session.set("vbi_RegistrationStatus", RegistrationStatus);
            $.session.set("vbi_StartDate", StartDate);
            $.session.set("vbi_EndDate", EndDate);

            window.location.href = urlY;
        }

        function irAlEnlaceDetalleFechaTicketProducto(ViewController, Controller, SearchValue, RegistrationStatus, StartDate, EndDate, IdProduct) {

            var url = "/$$%%&&/!!??¿¿";
            var urlX = "";
            var urlY = "";
            urlX = url.replace("$$%%&&", Controller);
            urlY = urlX.replace("!!??¿¿", ViewController);

            $.session.set("vbi_SearchValue", SearchValue);
            $.session.set("vbi_RegistrationStatus", RegistrationStatus);
            $.session.set("vbi_StartDate", StartDate);
            $.session.set("vbi_EndDate", EndDate);
            $.session.set("vbi_IdProduct", IdProduct);

            window.location.href = urlY;
        }

        

        //===============================================EJECUCIÓN DE MÉTODOS INICIALES
        ListaResultadoBusquedaInteligente();

</script>