
<script>
    document.title = "CRONOS NET : ERROR 404";
</script>

<link href="~/Content/Error404Styles.css" rel="stylesheet" />

<body>
    <header></header>
    <section class="section404">
        <article id="aticleA404">
            <h1 class="NumberCode404">404</h1><br />
            <h2 class="MessageCode404">[PÁGINA NO ENCONTRADA]</h2><br />
            <h3 class="CommentConde404">La página a la que intentó acceder no existe o fue removida.</h3>
            <h4>CRONOS NET - ASSAC 2018</h4>
        </article>
        <article id="aticleB404">
            <img id="img404" src="~/Content/img/img_404.png" />
            <img id="img404celular" src="~/Content/img/img_404_celular.png" />
        </article>
    </section>
    <footer></footer>
</body>