
<script>
    document.title = "CRONOS NET : ERROR 500";
</script>

<link href="~/Content/Error500Styles.css" rel="stylesheet" />

<body>
    <header></header>
    <section class="section500">
        <article id="aticleA500">
            <h1 class="NumberCode500">500</h1><br />
            <h2 class="MessageCode500">[ERROR INESPERADO]</h2><br />
            <h3 class="CommentConde500">Estamos trabajando para poder solucionar el inconveniente, por favor contactese con el supervisor de su operación.</h3>
            <h4>CRONOS NET - ASSAC 2018</h4>
        </article>
        <article id="aticleB500">
            <img id="img500" src="~/Content/img/exclamation_256px.png" />
            <img id="img500celular" src="~/Content/img/exclamation_128px.png" />
        </article>
    </section>
    <footer></footer>
</body>
