
<script>
    document.title = "CRONOS NET : ERROR 403 - Acceso denegado";
</script>

<link href="~/Content/DeniedAccessStyles.css" rel="stylesheet" />

    <header></header>
    <section class="section403">
        <article id="aticleA403">
            <h1 class="NumberCode403">403</h1><br />
            <h2 class="MessageCode403">[ACCESO DENEGADO]</h2><br />
            <h3 class="CommentConde403">No cuenta con los permisos para visualizar este recurso</h3>
            <h4>CRONOS NET - ASSAC 2018</h4>
        </article>
        <article id="aticleB403">
            <img id="img403" src="~/Content/img/locked_256px.png" />
            <img id="img403celular" src="~/Content/img/locked_128px.png" />
        </article>
    </section>
    <footer></footer>


<h3 class="hidden">
    @ViewBag.Mensaje
</h3>


