@{
    ViewBag.Title = "INICIO";
}

<div id="ContenedorPrincipal">
    <h1>Bienvenido a </h1>
</div>

<div id="ContenedorCargando" style="margin-top:40px;" class="hidden">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
    <h1 class="text-center">Cargando...</h1>
</div>

<div id="ContenedorErrorPagina" style="margin-top:50px; font-size:25px;" class="hidden">
    <div class="alert alert-danger">
        <strong>ERROR!</strong> No se pudo cargar la pagina, por favor intente nuevamente.
    </div>
</div>