
<div class="hidden-lg hidden-md hidden-sm" style="display:flex; flex-flow: column nowrap; align-items:center; justify-content:center; text-align:center; margin:10px 5px 30px 5px;">
        <h4 style="color:#18A689; font-weight:bold;">Cronos NET - Sistema de Gestión Operacional v 2.0</h4>
        <span style="color:gray; font-size:13px;">Sistema de Control de Lubricantes y Combustible</span>
 </div>
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    
    <div class="row">
        
        <div>
            <img src="~/Content/img/portada_cronos_v2.png" class="pull-right" alt="" />
        </div>

        @*<img src="~/content/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">*@
        
    </div>

    <div class="row">
        <hr />
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Gestión de la Operación y Reportes</h5>
            <p>
                Realice el mantenimiento de sus unidades propias y contratas, mediante validaciones y restricciones personalizadas.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Gestión de sus niveles de tanque en stock</h5>
            <p>
                Mantengase informado en todo momento de sus niveles de tanque en tiempo real, conociendo las recargas y descargas realizadas.
            </p>
        </div>
    </div>

</div>