<h5 class="text-center">Siguenos en ...</h5>
<ul class="list-inline text-center">
    <li>
        <a target="_blank" href="https://es-la.facebook.com/automationservicesac/" title="https://es-la.facebook.com/automationservicesac/" class="btn btn-circle" style="background-color: #3B5998"><i class="fa fa-facebook" style="color:white"></i></a>
    </li>
    <li>
        <a target="_blank" href="http://www.assac.com.pe/" title="http://www.assac.com.pe/" class="btn btn-circle" style="background-color: #504E4F"><i class="fa fa-globe" style="color:white"></i></a>
    </li>
    <li>
        <a target="_blank" href="https://www.linkedin.com/company/automation-service-sac/" title="https://www.linkedin.com/company/automation-service-sac/" class="btn btn-circle" style="background-color: #0077B5"><i class="fa fa-linkedin" style="color:white"></i></a>
    </li> 
</ul>